%div#amenities
  %h2= "Amenities"
  = f.fields_for :amenities do |l|
    %div.row
      = l.label :name, "Amenity Name"
      = l.text_field :name
    %div.row
      = l.label :desc, "Description"
      = l.text_field :desc
