%div#filters
  %h2= "Filters"
  %ul.small-block-grid-3.large-block-grid-6
    %li
      = f.label :individual, "Individual"
      = f.check_box :individual
    %li
      = f.label :family, "Family"
      = f.check_box :family
    %li
      = f.label :male, "Male"
      = f.check_box :male
    %li
      = f.label :female, "Female"
      = f.check_box :female
    %li
      = f.label :min_age, "Minimum Age"
      = f.check_box :min_age
    %li
      = f.label :max_age, "Maximum Age"
      = f.number_field :max_age
    %li
      = f.label :physical_disability, "Physical Disability"
      = f.number_field :physical_disability
    %li
      = f.label :mental_disability, "Mental Disability"
      = f.check_box :mental_disability
    %li
      = f.label :veteran, "Veteran"
      = f.check_box :veteran
    %li
      = f.label :abuse_victim, "Victim of Abuse"
      = f.check_box :abuse_victim
