%div#general
  %h2= "General Information"
  %div.row
    = f.label :name, "Org. Name"
    = f.text_field :name
  %div.row
    = f.label :desc, "Description"
    = f.text_area :desc
  %div.row
    = f.label :instructions, "Special instructions"
    = f.text_area :instructions
