/ = form_tag(nil, remote: true, id: "form-general", :data => { abide: true } ) do
= form_for(@institution, remote: true) do |f|
  %div.columns.small-10.small-centered
    = f.label :name, "Org. Name"
    = f.text_field :name, required: true, placeholder: "You have a name, don't you?"
  %div.columns.small-10.small-centered
    = f.label :desc, "Description"
    = f.text_field :desc, placeholder: "We highly recommoned having a description!"
  %div.columns.small-10.small-centered
    = f.label :instructions, "Special instructions"
    = f.text_field :instructions, placeholder: "Anything special people should know?"
  %div.columns.small-10.small-centered.clearfix
    %button#form-general-save.small.right.hide= "Save"
