- institutions.each do |institution|
  - getHours(institution.id)
  - dropdown_id = "hours-dropdown-#{institution.id}"
  %div.institution.row
    - if @open
      %div.open.hide
    %div.small-12.large-6.columns
      =link_to institution.name, institution_path(institution), class: "row small-12 large-12 institution-name"
      %div.row.small-12.large-12
        %div.hide{ id: "distance-container-#{institution.id}" }
          %span= "Distance: "
          %span.institution-distance{ id: "distance-#{institution.id}" }
      %p.row.small-12.large-12.institution-hours
        - if @hours_present
          %a.custom-button{ data: { dropdown: dropdown_id }, aria: { expanded: "false", controls: dropdown_id } }= "Click here for hours"
        - else
          %span= t('hours.missing')
      %div.row.small-8.large-8= link_to("View More Details", "/institution/" + institution.id.to_s)
    %div.small-12.large-6.columns
      %ul.small-block-grid-5.large-block-grid-5.amenities-list
        - institution.amenities.each do |amenity|
          %li
            =embedded_amenity(amenity)
  %div.row.f-dropdown.large{ id: dropdown_id, data: { dropdown: { content: true } } }
    -if @open
      %div.columns.small-12.large-12.label.success= t('hours.open')
    - else
      %div.columns.small-12.large-12.label.alert= t('hours.closed')
    = render 'shared/hours'
