= form_tag(nil, remote: true, id: "form-location", :data => { abide: true } ) do
  %div.columns.small-10.small-centered
    = label_tag :streetLine1, "Street Line 1"
    = text_field_tag :streetLine1, nil, { required: true, placeholder: "1959 NE Pacific Street" }
  %div.columns.small-10.small-centered
    = label_tag :streetLine2, "Street Line 2"
    = text_field_tag :streetLine2
  %div.columns.small-10.small-centered
    = label_tag :city, "City"
    = text_field_tag :city, nil, required: true, placeholder: "Seattle"
  %div.columns.small-10.small-centered
    = label_tag :state, "State"
    = text_field_tag :state, nil, required: true, placeholder: "WA"
  %div.columns.small-10.small-centered
    = label_tag :zip, "Zip Code"
    = text_field_tag :zip, nil, required: true, placeholder: "98195", pattern: '\\d{5}'
  %div.columns.small-10.small-centered.clearfix
    %button#form-location-save.small.right.hide= "Save"
