= form_tag(nil, remote: true, id: "form-restrictions", :data => { abide: true } ) do
  %div.columns.small-10.small-centered
    %div.row
      = label_tag :name, "Restriction Name"
      = text_field_tag :name
    %div.row
      = label_tag :desc, "Description"
      = text_field_tag :desc
  %div.columns.small-10.small-centered.clearfix
    %button#form-restrictions-save.small.right.hide= "Save"
