%div#institutions_form.row
  %h4= @header
  %div.small-9.small-centered.columns
    %ul.accordion{ :data => { :accordion => true } }
      %li.accordion-navigation
        %a{ href: "#form-general" }= "General Information"
        %div#form-general.content.active
          = render 'general'
      %li.accordion-navigation
        %a{ href: "#form-location" }= "Location Details"
        %div#form-location.content
          = render 'location'
      %li.accordion-navigation
        %a{ href: "#form-amenities" }= "Amenities Available"
        %div#form-amenities.content
          = render 'amenities'
      %li.accordion-navigation
        %a{ href: "#form-restrictions" }= "Restrictions"
        %div#form-restrictions.content
          = render 'restrictions'
