%div#institutions_form.row
  %div.small-9.small-centered.columns
    %h2= @header
    %ul.accordion{ :data => { :accordion => true } }
      %li.accordion-navigation
        %a{ href: "#general" }= "General Information"
        %div#general.content.active
          = render 'general'
      %li.accordion-navigation
        %a{ href: "#location" }= "Location Details"
        %div#location.content
          = render 'location'
      %li.accordion-navigation
        %a{ href: "#amenities" }= "Amenities Available"
        %div#amenities.content
          = render 'amenities'
      %li.accordion-navigation
        %a{ href: "#restrictions" }= "Restrictions"
        %div#restrictions.content
          = render 'restrictions'
