= javascript_include_tag(Settings.google.maps.url + Settings.google.maps.token)
= javascript_include_tag('institution/filters.js')

%div.row.collapse
  %div.small-11.columns
    = search_field_tag :query, t('home.search_placeholder')
  %div.small-1.columns
    = button_tag(image_tag("search.png"))

%div
  %ul#filter-settings.small-block-grid-2.large-block-grid-7
    %li.filter
      %span.filter-title Number of People
      %button.filter-btn-deselected Individual
      %button.filter-btn-deselected Family
    %li.filter
      %span.filter-title Gender
      %button.filter-btn-deselected Male
      %button.filter-btn-deselected Female
    %li.filter
      %span.filter-title Age
      %button.filter-btn-deselected ____
    %li.filter
      %span.filter-title Disability
      %button.filter-btn-deselected Physical
      %button.filter-btn-deselected Mental
    %li.filter
      %span.filter-title Miscallaneous
      %button.filter-btn-deselected Veteran
      %button.filter-btn-deselected Victim of Abuse
    %li.filter
      %span.filter-title Show
      %button.filter-btn-deselected All
      %button.filter-btn-deselected Open Now
    %li.filter
      %span.filter-title Sort By
      %button.filter-btn-deselected Distance
      %button.filter-btn-deselected Name

%div.row
  %div.small-12.large-6.columns#map
  / %iframe#map/:src => getMapURL}

  %div.small-12.large-6.columns#institution_list
    - @institutions.each do |institution|
      %div.institution_node
        %div.institution_name= institution.name
        %div.institution_contents
          %div.institution_info
            %div.institution_distance #{getDistance(institution.id)} miles away
            %div.institution_hours Hours: #{getHours(institution.id)}
          %div.institution_amenities
            - getAmenities(institution.id).each do |amenity|
              %div.amenity
                %svg.amenity_img= embedded_svg(amenity.img, class: "category-img")
                %div.amenity_name= amenity.name
        %div.more_info= link_to 'See More', institution
