= javascript_include_tag(Settings.google.maps.url + Settings.google.maps.token)
= javascript_include_tag('institution/filters.js')

%div.row.collapse
  %div.small-11.columns
    = search_field_tag :query, t('home.search_placeholder')
  %div.small-1.columns
    = button_tag(image_tag("search.png"))


%ul#filter-settings.small-box-grid-2
  %li
    %p.title Number of People
    %button Individual
    %button Family
  %li
    %p.title Gender
    %button Male
    %button Female
  %li
    %p.title Age
    %button ____
  %li
    %p.title Disability
    %button Physical
    %button Mental
  %li
    %p.title Miscallaneous
    %button Veteran
    %button Victim of Abuse
  %li
    %p.title Show
    %button All
    %button Open Now
  %li
    %p.title Sort By
    %button Distance
    %button Name

%div.row
  %div.small-1.large-6.columns#map
  / %iframe#map/:src => getMapURL}

  %div.small-1.large-6.columns#institution_list
    - @institutions.each do |institution|
      %div.institution_node
        %div.institution_name= institution.name
        %div.institution_contents
          %div.institution_info
            %div.institution_distance #{getDistance(institution.id)} miles away
            %div.institution_hours Hours: #{getHours(institution.id)}
          %div.institution_amenities
            - getAmenities(institution.id).each do |amenity|
              %div.amenity
                %svg.amenity_img= embedded_svg(amenity.img, class: "category-img")
                %div.amenity_name= amenity.name
        %div.more_info= link_to 'See More', institution
