
= render 'shared/search'

%div.row
  %h3= "Showing [....]"
  %ul.accordion{data:{accordion:true}}
    %li.accordion-navigation.small-12.large-8.columns
      %a{href:"#filter"}= "Filter" 
      %div#filter.content.active
        %ul#filter-settings.small-block-grid-3.large-block-grid-5
          %li.toggle#filter-people
            %div.filter-title= "# of People"
            %button#btn-individual.filter-btn-deselected= "Individual"
            %button#btn-family.filter-btn-deselected= "Family"
          %li.toggle
            %div.filter-title= "Gender"
            %button#btn-male.filter-btn-deselected= "Male"
            %button#btn-female.filter-btn-deselected= "Female"
          %li.toggle
            %div.filter-title= "Age"
            %input#btn-age.filter-btn-deselected{:type=>"number", :placeholder=>"Enter your age"}
          %li.toggle
            %div.filter-title= "Disability"
            %button#btn-physical.filter-btn-deselected= "Physical"
            %button#btn-mental.filter-btn-deselected= "Mental"
          %li.toggle
            %div.filter-title= "Miscellaneous"
            %button#btn-veteran.filter-btn-deselected= "Veteran"
            %button#btn-victimofabuse.filter-btn-deselected= "Victim of Abuse"
    %li.accordion-navigation.small-12.large-4.columns
      %a{href:"#view"}= "View Options" 
      %div#view.content.active
        %ul#filter-settings.small-block-grid-2.large-block-grid-2
          %li.filter
            %div.filter-title= "Show"
            %button#btn-all.filter-btn-deselected= "All"
            %button#btn-opennow.filter-btn-deselected= "Open Now"
          %li.filter
            %div.filter-title= "Sort By"
            %button#btn-distance.filter-btn-deselected= "Distance"
            %button#btn-name.filter-btn-deselected= "Name"

%div.row.collapse
  %div#google-map-aerial.columns.small-12.large-4
    = loading_spinner()
  %div#institutions_list.columns.small-12.large-8
    = render 'institution_list', :institutions => @institutions
- content_for :breadcrumbs do
  %ul.breadcrumbs
    %li 
      =link_to 'HOME', (root_path)
    - if @amenity.present?
      %li.current= @amenity.name

:javascript
  var mapping;
  var allInst;
  $(document).ready(function() {
    mapping = new Array();
    allInst = $("#institutions_list").html();
    var x = "#{request.fullpath}";
    var age = $("li.toggle > input#btn-age");
    age.on('blur', function() {
      getFilters(this, x, this.value);
    });
    filters = $("li.toggle > button");
    filters.on('click', function () {
      getFilters(this, x);      
    });
  });

  function filter(data) {
    $("#institutions_list").html(allInst);
    var sorted = [];
    sel = ".institution-name";
    filt = {}
    for (var i = 0; i < data.length; i++) {
      filt[data[i].name] = true;
    }
    $.each($(".institution"), function(k, v){
      var name = $(v).find(sel)[0].innerHTML;
      if (!filt[name]) {
        mapping.push(v);
        v.remove();
      }
    });
  }

  function callAjax(data, filt, age) {
    $.ajax({
        url: data + ".json", // Route to the Script Controller method
        type: "GET",
        dataType: "json",
        data: { filter: filt, age: age } // This goes to Controller in params hash, i.e. params[:file_name]
      }).done(function(data) {
        filter(data)
      });
  }

  function getFilters(button, x, age) {
    filt = [];
    btn = $(button);
    id = btn.parent()[0].id.split('-')[1];

    if( btn.hasClass("filter-btn-selected") ){
      btn.removeClass("filter-btn-selected");
      btn.addClass("filter-btn-deselected");
    } else {
      btn.removeClass("filter-btn-deselected");
      btn.addClass("filter-btn-selected");
    }
    but = $("li.toggle > button.filter-btn-selected");
    for (var i = 0; i < but.length; i++) {
      filt.push(but[i].innerHTML.toLowerCase());
    }
    callAjax(x, filt, age);
  } 