= javascript_include_tag(Settings.google.maps.url + Settings.google.maps.token)
/= javascript_include_tag('shared/filters.js')

=render 'shared/search'

%div
  %ul#filter-settings.small-block-grid-2.large-block-grid-7
    %li.toggle
      %span.filter-title Number of People
      %button#btn-individual.filter-btn-deselected Individual
      %button#btn-family.filter-btn-deselected Family
    %li.toggle
      %span.filter-title Gender
      %button#btn-male.filter-btn-deselected Male
      %button#btn-female.filter-btn-deselected Female
    %li.toggle
      %span.filter-title Age
      %button#btn-age.filter-btn-deselected ____
    %li.toggle
      %span.filter-title Disability
      %button#btn-physical.filter-btn-deselected Physical
      %button#btn-mental.filter-btn-deselected Mental
    %li.toggle
      %span.filter-title Miscellaneous
      %button#btn-veteran.filter-btn-deselected Veteran
      %button#btn-victimofabuse.filter-btn-deselected Victim of Abuse
    %li.filter
      %span.filter-title Show
      %button#btn-all.filter-btn-deselected All
      %button#btn-opennow.filter-btn-deselected Open Now
    %li.filter
      %span.filter-title Sort By
      %button#btn-distance.filter-btn-deselected Distance
      %button#btn-name.filter-btn-deselected Name

%div.row
  %div.small-11.large-5.columns#map
  / %iframe#map/:src => getMapURL}

  %div.small-12.large-7.columns#institutions_list
    - @institutions.each do |institution|
      %div.institution.row
        %div.small-6.large-6.columns
          %div.row.small-12.large-12.institution-name= institution.name
          %div.row.small-12.large-12.institution-distance= getDistance(institution)
          %div.row.small-12.large-12.institution-hours= getHours(institution)
          %div.row
            %div.small-4.large-4.columns
            %div.small-8.large-8.columns= link_to("View More Details", "/institution/" + institution.id.to_s)
        %div.small-6.large-6.columns
          %ul.small-block-grid-2.large-block-grid-5.institution-amenities
            - institution.amenities.each do |amenity|
              %li
                =embedded_amenity(amenity)

