= javascript_include_tag(Settings.google.maps.url + Settings.google.maps.token)

%div.row.collapse
  %div.small-11.columns
    = search_field_tag :query, t('home.search_placeholder')
  %div.small-1.columns
    = button_tag(image_tag("search.png"))
%div#filter-settings.row.collapse
  %div.columns.small-1.large-2
    %div.title Number of People
    %button Individual
    %button Family
  %div.columns.small-1.large-2
    %div.title Gender
    %button Male
    %button Female
  %div.columns.small-1.large-2
    %div.title Age
    %button ____
  %div.columns.small-1.large-2
    %div.title Disability
    %button Physical
    %button Mental
  %div.columns.small-1.large-2
    %div.title Miscallaneous
    %button Veteran
    %button Victim of Abuse
  %div.columns.small-1.large-2
    %div.title Show
    %button All
    %button Open Now
  %div.columns.small-1.large-2
    %div.title Sort By
    %button Distance
    %button Name

%div#map
/ %iframe#map/:src => getMapURL}

%div#institution_list
  - @institutions.each do |institution|
    %div.institution_node
      %div.institution_name= institution.name
      %div.institution_contents
        %div.institution_info
          %div.institution_distance #{getDistance(institution.id)} miles away
          %div.institution_hours Hours: #{getHours(institution.id)}
        %div.institution_amenities
          - getAmenities(institution.id).each do |amenity|
            %div.amenity
              %svg.amenity_img= embedded_svg(amenity.img, class: "category-img")
              %div.amenity_name= amenity.name
      %div.more_info= link_to 'See More', institution
