
= render 'shared/search'

%div.row
  %h3= "Showing [....]"
  %ul.accordion{data:{accordion:true}}
    %li.accordion-navigation.small-12.large-8.columns
      %a{href:"#filter"}= "Filter" 
      %div#filter.content.active
        %ul#filter-settings.small-block-grid-3.large-block-grid-5
          %li.toggle#filter-people
            %div.filter-title= "# of People"
            %button#btn-individual.filter-btn-deselected= "Individual"
            %button#btn-family.filter-btn-deselected= "Family"
          %li.toggle
            %div.filter-title= "Gender"
            %button#btn-male.filter-btn-deselected= "Male"
            %button#btn-female.filter-btn-deselected= "Female"
          %li.toggle
            %div.filter-title= "Age"
            %input#btn-age.filter-btn-deselected{:type=>"number", :placeholder=>"Enter your age"}
          %li.toggle
            %div.filter-title= "Disability"
            %button#btn-physical.filter-btn-deselected= "Physical"
            %button#btn-mental.filter-btn-deselected= "Mental"
          %li.toggle
            %div.filter-title= "Miscellaneous"
            %button#btn-veteran.filter-btn-deselected= "Veteran"
            %button#btn-victimofabuse.filter-btn-deselected= "Victim of Abuse"
    %li.accordion-navigation.small-12.large-4.columns
      %a{href:"#view"}= "View Options" 
      %div#view.content.active
        %ul#filter-settings.small-block-grid-2.large-block-grid-2
          %li.filter
            %div.filter-title= "Show"
            %button#btn-all.filter-btn-deselected= "All"
            %button#btn-opennow.filter-btn-deselected= "Open Now"
          %li.filter
            %div.filter-title= "Sort By"
            %button#btn-distance.filter-btn-deselected= "Distance"
            %button#btn-name.filter-btn-deselected= "Name"

%div.row.collapse
  %div#google-map-aerial.columns.small-12.large-4
    = loading_spinner()
  %div#institutions_list.columns.small-12.large-8
    - @institutions.each do |institution|
      - getHours(institution.id)
      - dropdown_id = "hours-dropdown-#{institution.id}"
      %div.institution.row
        - if @open
          %div.open.hide
        %div.small-12.large-6.columns
          =link_to institution.name, institution_path(institution), class: "row small-12 large-12 institution-name"
          %div.row.small-12.large-12
            %div.hide{ id: "distance-container-#{institution.id}" }
              %span= "Distance: "
              %span.institution-distance{ id: "distance-#{institution.id}" }
          %p.row.small-12.large-12.institution-hours
            - if @hours_present
              %a.custom-button{ data: { dropdown: dropdown_id }, aria: { expanded: "false", controls: dropdown_id } }= "Click here for hours"
            - else
              %span= t('hours.missing')
          %div.row.small-8.large-8= link_to("View More Details", "/institution/" + institution.id.to_s)
        %div.small-12.large-6.columns
          %div.row
            %div.columns.small-12.large-12
              %ul.small-block-grid-5.large-block-grid-5.amenities-list
                - institution.amenities.each do |amenity|
                  %li
                    =embedded_amenity(amenity)
            %div.columns.small-12.large-12
              %p= "Capacity"
              %div.capacity-meter
                %span.free{ style: "width: 40%"}
                %span.reserved{ style: "width: 30%"}
                %span.standby{ style: "width: 20%"}
      %div.row.f-dropdown.large{ id: dropdown_id, data: { dropdown: { content: true } } }
        -if @open
          %div.columns.small-12.large-12.label.success= t('hours.open')
        - else
          %div.columns.small-12.large-12.label.alert= t('hours.closed')
        = render 'shared/hours'

- content_for :breadcrumbs do
  %ul.breadcrumbs
    %li 
      =link_to 'HOME', (root_path)
    - if @amenity.present?
      %li.current= @amenity.name

