%h1 Listing Institution

= link_to('New Institution', new_institution_path, :class => "link-create-new")
%br

%div.institution_node
  - @institutions.each do |institution|
    %span= institution.name
    %span= institution.desc
    %span= institution.instructions
    %span= link_to 'See More', institution
