%h2= @institution.name

%div#address.row
  %h3= "Address"
  %p= @location.streetLine1
  - if @location.streetLine1.present?
    %p= @location.streetLine2
  %p= @location.city + ", " + @location.state + " " + @location.zip

- if @contact.present?
  %div#contact.row
    %h3= "Contact"
    - @contact.each do |c|
      %div.row
        %p.column-label= c[:label]
        %p.column-info= c[:info]
- getHours
- if @hours_present
  %div#hours.row
    %h3= "Hours"
    = render 'shared/hours'

%div#amenities.row
  %h3= "Amenities"
  %p= @amenities
