%h1#institution-name= @institution.name

%div#address
  %p
    %em= @location.streetLine1
  %p
    %em= @location.streetLine2 if @location.streetLine2.present?
  %p
    %em= @location.city + ", " + @location.state + " " + @location.zip.to_s

%div.row
  %div#institution-info.columns.small-12.large-9
    %div.row
      %div#institution-details.columns.small-12.large-8
        - if @contact.present?
          - if @contact.phone.present?
            %p= "Phone: " + @contact.phone
          - if @contact.website.present?
            %p= "Website: " + @contact.website
        - if @hours.present?
          %p= "Hours: " + @hours
        %p= "DAYS OF WEEK OPEN"

      %div#institution-aerial-map.columns.small-12.large-4
        %p= "Google Aerial View Goes Here"

    %div#institution-street-view.row
      %p= "Google Street View Goes Here"

    %div#institution-directions-link.row
      = link_to "Get Directions", getDirectionsLink()

    %div#institution-desc.row
      %h4= "Description:"
      %p.description= @institution.desc

    %div#institution-restrictions.row
      %h4= "Restrictions:"
      - @restrictions.each do |r|
        %p.restriction
          %strong= r.name
          - if r.desc.present?
            = r.desc

  %div#get-info.columns.small-12.large-2
    %h5= "Save Shelter Information"
    %div.row
      %p.columns.small-12.large-6= embedded_svg("email.svg", { class: "save-icon", alt: "Email me this!"})
      %button.columns.small-12.large-6.label= "Email"
    %div.row
      %p.columns.small-12.large-6= embedded_svg("sms.svg", { class: "save-icon", alt: "Text this to me!"})
      %button.columns.small-12.large-6.label= "Text"
    %div.row
      %p.columns.small-12.large-6= embedded_svg("printer.svg", { class: "save-icon", alt: "Print this for me!"})
      %button.columns.small-12.large-6.label= "Print"
