%div.row#institution-header
  %div.row
    %div.columns.small-12.large-6
      %h1#institution-name= @institution.name
      %div#address
        %p
          %em= @location.streetLine1
        %p
          %em= @location.streetLine2 if @location.streetLine2.present?
        %p
          %em= @location.city + ", " + @location.state + " " + @location.zip.to_s

    %div.columns.small-12.large-6
      %ul.small-block-grid-2.large-block-grid-5.amenities-list
        - @institution.amenities.each do |amenity|
          %li
            =embedded_amenity(amenity)


%div.row
  %div#institution-info.columns.small-12.large-9
    %div.row
      %div#institution-details.columns.small-12.large-8
        - if @contact.present? and @contact.phone.present?
          %p= "Phone: " + @contact.phone
        - else
          %p= "Phone not listed"

        - if @contact.present? and @contact.website.present?
          %p= "Website: " + @contact.website
        - else
          %p= "Website not listed"

        - if @hours.present?
          %p= "Hours: " + @hours
        - else
          %p= "Hours not listed."

      %div#google-map-aerial.columns.small-12.large-4
        = loading_spinner()

    %div#google-map-street.row
      = loading_spinner()

    %div#institution-directions-link.row
      = link_to getDirectionsLink(@address) do
        %button= "Get Directions"

    %div#institution-desc.row
      %h4= "Description:"
      %p.description= @institution.desc

    %div#institution-restrictions.row
      %h4= "Restrictions:"
      - @restrictions.each do |r|
        %p.restriction
          %strong= r.name
          - if r.desc.present?
            = r.desc

  %div#get-info.columns.small-12.large-2
    %div#save
      %h5= "Save Shelter Information"
      %div.row
        %p.columns.small-12.large-6= embedded_svg("email.svg", { class: "save-icon", alt: "Email me this!"})
        %button.small-12.large-3{ name: "email", class: "columns small-12 large-6 label", "data-reveal-id" => "institution-modal" }= "Email"
      %div.row
        %p.columns.small-12.large-6= embedded_svg("sms.svg", { class: "save-icon", alt: "Text this to me!"})
        %button.small-12.large-3{ name: "text", class: "columns small-12 large-6 label", "data-reveal-id" => "institution-modal" }= "Text"
      %div.row
        %p.columns.small-12.large-6= embedded_svg("printer.svg", { class: "save-icon", alt: "Print this for me!"})
        %button.small-12.large-3{ name: "print", class: "columns small-12 large-6 label", "data-reveal-id" => "institution-modal" }= "Print"

    %div#subscribe    
      %h5
        = "Subscribe"
      %small= "What's this?"
      %div.row
        = form_tag('/sms/subscribe', method: :post) do
          = text_field_tag "number"
          = hidden_field_tag "id", @institution.id
          = submit_tag "Opt In"
        

= render 'customize'

= content_for :javascripts do
  = javascript_include_tag(Settings.google.maps.url + "key=" + Settings.google.maps.token + "&callback=" + Settings.google.maps.callback)
