%div.row#institution-header
  %div.row
    %div.columns.small-12.large-7
      %h1#institution-name= @institution.name
      %div#address
        %p
          %em= @location.streetLine1
        %p
          %em= @location.streetLine2 if @location.streetLine2.present?
        %p
          %em= @location.city + ", " + @location.state + " " + @location.zip.to_s

    %div.columns.small-12.large-5#offered_amenity
      %ul.small-block-grid-5.medium-block-grid-5.large-block-grid-5.amenities-list
        - @institution.amenities.each do |amenity|
          %li
            =embedded_amenity(amenity)

- getHours
%div.row
  %div#institution-info.columns.small-12.large-10
    %div#institution-details.columns.small-12.large-8
      %p
        %span.columns.small-4.large-3= "Phone:"
        %span.columns.small-8.large-9= getPhone
      %p
        %span.columns.small-4.large-3= "Website:"
        %span.columns.small-8.large-9= getWebsite
      %p.hide{ id: "distance-container-#{@institution.id}" }
        %span.columns.small-4.large-3= "Distance: "
        %span.columns.small-8.large-9{ id: "distance-#{@institution.id}" }
      - if @hours.present?
        %p
          %span.columns.small-4.large-3= "Hours:"
          %span.columns.small-8.large-9
            - if @open
              %small.label.success= t('hours.open')
            - else
              %small.label.alert= t('hours.closed')
      = render 'shared/hours'
        

    %div.row
      %div#google-map-aerial.columns.small-12.large-6
        = loading_spinner()
      %div#google-map-street.columns.small-12.large-6
        = loading_spinner()

    %div#institution-directions-link.row
      = link_to getDirectionsLink(@location) do
        %button= "Get Directions"

    %div#institution-desc.row
      %h4= "Description:"
      %p.description.keep-spacing= @institution.desc

    %div#institution-restrictions.row
      %h4= "Restrictions:"
      %p.restriction.keep-spacing= @institution.instructions
            

  %div#get-info.columns.small-12.large-2
    %div#save
      %h4= "Save Information"
      %div.row
        %button.small-12.large-12{ name: "email", "data-reveal-id" => "institution-modal" }
          %div= embedded_svg("email.svg", { class: "save-icon", alt: "Email me this!"})
          %span= "Email"
      %div.row
        %button.small-12.large-12{ name: "text", "data-reveal-id" => "institution-modal" }
          %div= embedded_svg("sms.svg", { class: "save-icon", alt: "Text this to me!"})
          %span= "Text"
      %div.row
        = link_to(institution_print_path, { class: "columns small-12 large-12 button label" }) do
          %div= embedded_svg("printer.svg", { class: "save-icon", alt: "Print this for me!"})
          %span= "Print"

    %div#subscribe
      %h4.has-tip{ data: { tooltip: true}, aria: { haspopup: true }, title: t('sms.subscribe.description')}= t('sms.subscribe.title')
      %div.row
        = form_tag('/sms/subscribe', id: "sms-subscribe-form", data: { remote: true, abide: true } ) do
          = telephone_field_tag "number", nil, required: true, pattern: "\\d{10}"
          %small.error= "Please enter your 10 digit phone number (including area code)."
          = hidden_field_tag "id", @institution.id
          = submit_tag "Opt In", { class: "button", id: "opt-in" }
        

= render 'send_info_modal'
