- if hours.present?
  %div.row
    %h5.columns.small-4.large-12= t('hours.default')
    %div.columns.small-8.large-12
      - if open
        %p.label.success= t('hours.open')
      - else
        %p.label.alert= t('hours.closed')
  %table#hours-list
    %tbody
      %tr
        - Date::DAYNAMES.each do |d|
          %td= d
      %tr
        - hours.each do |h|
          %td= h
