- if hours.present?
  %div#hours-open
    - if open
      %p.label.success= t('hours.open')
    - else
      %p.label.alert= t('hours.closed')
  %table#hours-list
    %thead
      %th= t('hours.header.days')
      %th= t('hours.header.time')
    %tbody
      - hours.each do |h|
        - if h[:hours].present?
          %tr
            %td= h[:day]
            %td= h[:hours]
- else
  %p= t('hours.missing')
