%ul#header.small-block-grid-1.large-block-grid-2
  %li.logo
    = link_to(root_path) do
      = image_tag "logo_black.png"
  %li.show-for-medium-up.statement= t('home.statement')


- @search_label = true
= render 'shared/search'

%div
  %h3= t('home.search_categories')
  %ul#amenities_list.small-block-grid-2.large-block-grid-5
    - Amenity.all.each do |amenity|
      %li
        =embedded_amenity(amenity, label: true)

%div
  =link_to(institutions_path()) do
    %h3= t('home.view_all')
