%div#home_index
  %ul#header.small-block-grid-1.large-block-grid-2
    %li.small-1.large-2.columns.logo= image_tag "logo_black.png"
    %li.small-1.large-2.columns.statement= t('home.statement')

  %div#search
    %h3= t('home.search_name')
    %div.row.collapse
      %div.small-10.columns
        %input{type: "text", placeholder: t('home.search_placeholder')}
      %div.small-2.columns
        %button.button.postfix= "Search"

  %div#categories
    %h3= t('home.search_categories')
    %ul.categories.small-block-grid-2.large-block-grid-5
      - Amenity.all.each do |cat|
        %li
          = link_to("categories/" + cat.name, title: cat.desc) do
            %div.row.category-bg
              %div.category-img= embedded_svg(cat.img, { class: "category-img", alt: cat.desc})
            %div.row.category-label= cat.name
