%h3= "Subscription List Messages"

%div#subscribers
  %p= "You have " + pluralize(@subscribers.length, "subscriber") + "!"
%div#warning
  %p.label.warning= t('sms.mass_text.warning')
%div#message
  - if @subscribers.length > 0
    = form_tag('/sms/notify', id: "sms-mass-text-form", data: { abide: true, remote: true }) do
      = text_area_tag "message", nil, { required: true, maxlength: 1600 }
      %small.error= "You have to have a message in order to send one,"
      = submit_tag "Send Message", class: "button"
