
%div#home_index
  %ul#header.small-block-grid-1.large-block-grid-2

%div  
  %h2{class: 'dash'}= 'My Account'
  %h3= "Seattle Union Gospel Mission: Mens Shelter"
  %ul.large-block-grid-3
    %li.capacity
      %a
        %h3= "Capacity Tracker"
        =link_to("/capacity") do
          = image_tag "Pie-Chart.png", class: "edit_profile-icon"
    %li.profile
      %a
        %h3= "Edit Profile"
        = link_to("/capacity") do
          = image_tag "Data-Edit.png", class: "edit_profile-icon"
    %li.notify
      %a
        %h3= "Send Text Alert"
        = link_to("/capacity") do
          = image_tag "Message.png", class: "edit_profile-icon"      
 


