
%div#home_index
  %ul#header.small-block-grid-1.large-block-grid-2

%div
  %h2{class: 'dash'}= 'My Account'
  %h3= 'Seattle Union Gospel Mission: Mens Shelter'
  %ul.large-block-grid-3
    %li.capacity
      %h4= "Capacity Tracker"
      = link_to("/capacity") do
        = image_tag "email.svg", class: "edit_profile-icon"
    %li.profile
      %h4= "Edit Profile"
      = link_to("/capacity") do
        = image_tag "email.svg", class: "edit_profile-icon"
    %li.notify
      %h4= "Send Text Alert"
      = link_to("/capacity") do
        = image_tag "email.svg", class: "edit_profile-icon"       



%div.row
  %h3= "Showing [....]"
  %ul.accordion{data:{accordion:true}}
    %li.accordion-navigation.small-12.large-8.columns
      %a{href:"#filter"}= "Filter" 
      %div#filter.content.active
        %ul#filter-settings.small-block-grid-3.large-block-grid-5
          %li.toggle#filter-people
            %div.filter-title= "# of People"
            %button#btn-individual.filter-btn-deselected= "Individual"
            %button#btn-family.filter-btn-deselected= "Family"