%h2= @institution.name
%div#tracker
  %div#capacity_header
    %h3= "Capacity Tracker"
    %p= t('capacity.description.capacity')
    %p= t('capacity.description.update_detail')
  %h3#capacity-warning= "WARNING: You have gone above your max capacity."

  - if @max_capacity_prompt
    %p= "It looks like you haven't set your max capacity yet. The tracker will still work though."
  %div#capacity_view{:align => "center"}
  / GRAPH GETS INJECTED HERE


  %ul#capacity_controls.small-block-grid-3.medium-block-grid-3.large-block-grid-3
    %li
      %div#reserved.svg=embedded_svg "cap_del_button.svg", class: "icon"
    %li
      %div.label#svg-label-res= "Reserved Spot"
    %li
      %div#reserved-del.svg=embedded_svg "cap_del_button.svg", class: 'icon delete'

  %ul#capacity_controls_del.small-block-grid-3.medium-block-grid-3.large-block-grid-3
    %li
      %div#standby.svg=embedded_svg "cap_add_button.svg", class: "icon"
    %li
      %div.label#svg-label-stdby= "Standby Spot"
    %li
      %div#standby-del.svg=embedded_svg "cap_add_button.svg", class: 'icon delete'

  %div#remaining-capacity.row
    %div.small-12.columns
      %h3#remaining-label= "Remaining Capacity: #{@total}"

