%div#capacity_index
  %h2= "Shelter Name"
  %div#tracker
    %div#capacity_header
      %h3= "Capacity Tracker"
      %h4= t('capacity.description')

    %p
      = "Total spots filled: "
      %span#total= "0"
    %p
      = "Reserved spots filled: "
      %span#reserved-total= "0"
    %p
      = "Standby spots filled: "
      %span#standby-total= "0"

    %div#capacity_controls.row.collapse
      %div.small-3.columns
        = button_tag("Reserved Spot", id: 'reserved')
      %div.small-3.columns
        %input#inc{type: "number", value: 1}
      %div.small-3.columns
        = button_tag("Standby Spot", id: 'standby')

    %div#capacity_view
      / GRAPH GETS INJECTED HERE
