%div#capacity_index
  %h2= "Shelter Name"
  %div#tracker
    %div#capacity_header
      %h3= "Capacity Tracker"
      %p= t('capacity.description.capacity')
      %p= t('capacity.description.update_detail')
    %h3#capacity-warning= "WARNING: You have gone above your max capacity."

    %div#capacity_view
      / GRAPH GETS INJECTED HERE

    %ul#capacity_controls.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      %li
        = button_tag("Reserved Spot", id: 'reserved')
        %p= t('capacity.description.reserved')
      %li
        = button_tag("Standby Spot", id: 'standby')
        %p= t('capacity.description.standby')

    %div#remaining-capacity
      %p= "Remaining Capacity:"
      %p= "73"

    %ul#capacity_controls_del.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      %li
        = button_tag("Delete Reserved Spot", id: 'reserved-del')
      %li
        = button_tag("Delete Standby Spot", id: 'standby-del')

    %p
      = "Capacity: "
      %span#max-capacity= "150"
    %p
      = "Total spots filled: "
      %span#total= "0"
    %p
      = "Reserved spots filled: "
      %span#reserved-total= "0"
    %p
      = "Standby spots filled: "
      %span#standby-total= "0"
