%h2= @institution.name
%div#tracker
  %div#capacity_header
    %h3= "Capacity Tracker"
    %p= t('capacity.description.capacity')
    %p= t('capacity.description.update_detail')
  %h3#capacity-warning= "WARNING: You have gone above your max capacity."

  - if @max_capacity_prompt
    %p= "It looks like you haven't set your max capacity yet. The tracker will still work though."
  %div#capacity_view{:align => "center"}
  / GRAPH GETS INJECTED HERE

<<<<<<< HEAD
  %ul#capacity_controls.small-block-grid-2.medium-block-grid-2.large-block-grid-2
    %li.small-2.large-4.columns
      %div#reserved.svg=embedded_svg "cap_add_button.svg", class: "icon"
    %li.small-4.large-4.columns
      %div.svg-label= "Reserved Spots"
    %li.small-6.large-4.columns
      %div#reserved-del.svg=embedded_svg "cap_delete_button.svg", class: 'icon delete'


  %div#remaining-capacity.row
    %div.small-3.columns
    %div.small-3.columns
      %p#remaining-label= "Remaining Capacity:"
    %div.small-3.columns
      %h3#remaining= @total
    %div.small-3.columns
=======

  %ul#capacity_controls.small-block-grid-3.medium-block-grid-3.large-block-grid-3
    %li
      %div#reserved-del.svg=embedded_svg "cap_del_button.svg", class: "icon delete"
    %li
      %div.label#svg-label-res= "Reserved Spot"
    %li
      %div#reserved.svg=embedded_svg "cap_add_button.svg", class: 'icon'
>>>>>>> 46bdcae289263c4ece6e8162e57f7c0457eb81f5

  %ul#capacity_controls_del.small-block-grid-3.medium-block-grid-3.large-block-grid-3
    %li
<<<<<<< HEAD
      %div#standby.svg=embedded_svg "cap_add_button.svg", class: "icon"
    %li
      %div#svg-label= "Standby Spot"
    %li
      %div#standby-del.svg=embedded_svg "cap_delete_button.svg", class: 'icon delete'
    
=======
      %div#standby-del.svg=embedded_svg "cap_del_button.svg", class: "icon delete"
    %li
      %div.label#svg-label-stdby= "Standby Spot"
    %li
      %div#standby.svg=embedded_svg "cap_add_button.svg", class: 'icon'

  %div#remaining-capacity.row
    %div.small-12.columns
      %h3#remaining-label= "Maximum Capacty set to: #{@total}"

>>>>>>> 46bdcae289263c4ece6e8162e57f7c0457eb81f5
